



.custom_grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    width: 100%;
}
.col{
    border-right: 5px solid;
margin-left:5px;
}
#grid-3{
    border:0px;
}
.pics{
    width:300px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;

}
.card{
    border:0; !important
    
    cursor: pointer;
}
 

